housingpipeline/housingpipeline/results/*
housingpipeline/housingpipeline/houseganpp/dump/*
housingpipeline/housingpipeline/houseganpp/exps/*
housingpipeline/housingpipeline/houseganpp/checkpoints/exp*
housingpipeline/housingpipeline/dgmg/results/*
*.pyc
housingpipeline/housingpipeline/housegan_clean_data.npy
*.vscode*
housingpipeline/housingpipeline/houseganpp/HGPP/*
results/
housingpipeline/housingpipeline/dgmg/checkpoints/
housingpipeline/housingpipeline/floor_plan_pipeline/pipeline_output/
housingpipeline/build/
housingpipeline/housingpipeline/dgmg/example_graphzz2.zip
housingpipeline/housingpipeline/dgmg/wandb/
housingpipeline/housingpipeline/houseganpp/wandb/
housingpipeline\housingpipeline\houseganpp\dataset\HHGPP_eval_data.npy
housingpipeline\housingpipeline\houseganpp\dataset\HHGPP_test_data.npy
housingpipeline\housingpipeline\houseganpp\dataset\HHGPP_train_data.npy
housingpipeline\housingpipeline\houseganpp\dataset\housegan_clean_data.npy
housingpipeline/housingpipeline/dgmg/eval_graphs/
housingpipeline/housingpipeline/floor_plan_pipeline/misc/dgmg_graph*
housingpipeline/housingpipeline/floor_plan_pipeline/tmp/
housingpipeline/housingpipeline/floor_plan_pipeline/pretrained_models
housingpipeline/housingpipeline/dgmg/model.pth
